<section class="my-5">

    <h2 class="text-center mb-5">
        Technologies We Work With
    </h2>

    <div class="row text-center">

        <div class="col-6 col-md-2 mb-4">

    <div class="tech-card p-3">

        <i class="bi bi-box-seam display-4 text-info"></i>

        <h6 class="mt-3">
            Aws
        </h6>

    </div>

</div>
        <div class="col-6 col-md-2 mb-4">

    <div class="tech-card p-3">

        <i class="bi bi-box-seam display-4 text-info"></i>

        <h6 class="mt-3">
            Docker
        </h6>

    </div>

</div>

<div class="col-6 col-md-2 mb-4">

    <div class="tech-card p-3">

        <i class="bi bi-box-seam display-4 text-info"></i>

        <h6 class="mt-3">
            Git
        </h6>

    </div>

</div>
        
<div class="col-6 col-md-2 mb-4">

    <div class="tech-card p-3">

        <i class="bi bi-box-seam display-4 text-info"></i>

        <h6 class="mt-3">
            GitHub
        </h6>

    </div>

</div>

<div class="col-6 col-md-2 mb-4">

    <div class="tech-card p-3">

        <i class="bi bi-box-seam display-4 text-info"></i>

        <h6 class="mt-3">
            Linux
        </h6>

    </div>

</div>
        
<div class="col-6 col-md-2 mb-4">

    <div class="tech-card p-3">

        <i class="bi bi-box-seam display-4 text-info"></i>

        <h6 class="mt-3">
            CI/CD
        </h6>

    </div>

</div>

</section>